main{
    display: flex;
   flex-direction: row;
   justify-content: flex-start;
    align-items: flex-start;
}
.grid_1{
    position: relative;
   margin: 80px 90px auto;
  /* min-height: 80vh;*/
   /* width: 100%;*/
   border-radius: 30px;
   padding: 30px 30px 30px 30px;
    background-color: #3A5A40 ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
   

}
.photo{
   width: 300px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 30px 30px 30px 30px;
}   
.photo img{
    width: 100%;
    height: 100%;
    display: block;
}
.titre-apropos{
    font-size: 70px;
    font-weight: bold;
    color:transparent ;
    background: linear-gradient(90deg, #6F4E37 25%, #3A5A40 75%);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    margin-top: 80px;
    margin-right: 90px;
    display: flex;
    justify-content: baseline;
}
.text-apropos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #3A5A40 ;
    color: bisque;
    border-radius: 30px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-right: 70px;
}
.decor{
    font-size: 50px;
    letter-spacing: 0;
}
.btn{
    position:absolute;
    bottom: 30px;
    right: 30px;
    margin-top: 25px;
    margin-left: 50px;
    padding-top: 30px;
    padding: 10px 20px;
    background-color: #A67B5B;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    display: block;
    align-self: flex-end;
   
    gap: 10px;
    color: white;
}
.btn:hover{
    background-color: #6F4E37;
    color: white;
}
.arrow{
    font-size: 1.2rem;
}


section{
    color: #3A5A40;
    

}