#index{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   min-height: 80vh;
    width: 100%;
   border-radius: 30px;
}
.grid_1{
    position: relative;
    background-color: #3A5A40 ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    margin: 0 auto;
    border-radius: 40px;
    gap: 40px;
}
.photo{
   width: 250px;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 30px 0 30px 0;
}   
.photo img{
    width: 100%;
    height: 100%;
    display: block;
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 60px;

}
.btn{
    position:absolute;
    bottom: 30px;
    right: 30px;
    margin-top: 25px;
    padding: 10px 20px;
    background-color: #A67B5B;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.btn:hover{
    background-color: #6F4E37;
    color: white;
}
.arrow{
    font-size: 1.2rem;
}


section{
    color: #3A5A40;
}
.github{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
}
footer img{
     width: 40px;
    height: auto;
    display: block;
}